# Compiled class files
*.class

# Build output directories
/build/
/dist/
/out/

# NetBeans specific
nbproject/private/
nbproject/project.xml
nbproject/build-impl.xml

# IDE settings
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmpsrc/
